In [2]:
import ticker_mgt as tm

In [ ]:
tm.drop_ticker_table()

In [ ]:
tm.create_ticker_table()

In [ ]:
tm.download_ticker()

In [7]:
tm.download_data_from_yf('2y', '1d', '9999.HK')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-25,145.399994,147.800003,145.399994,146.300003,146.300003,1923691