In [2]:
import ticker_mgt as tm

In [ ]:
tm.drop_ticker_table()

In [ ]:
tm.create_ticker_table()

In [ ]:
tm.download_ticker()

In [5]:
tm.download_data_from_yf('1y', '1d', '0017.HK')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2019-09-25  40.560001  40.560001  39.520000  40.000000  38.011166  4582007
2019-09-26  40.880001  41.599998  40.320000  40.799999  38.771389  6462017
2019-09-27  41.279999  41.279999  40.160000  40.720001  38.695370  2745037
2019-09-30  40.320000  41.119999  40.000000  40.720001  38.695370  4467040
2019-10-02  40.320000  41.919998  40.240002  41.840000  39.759682  7920797
...               ...        ...        ...        ...        ...      ...
2020-09-21  39.400002  39.400002  37.950001  38.000000  38.000000  5207284
2020-09-22  37.700001  37.799999  37.299999  37.549999  37.549999  3044638
2020-09-23  37.549999  38.000000  37.250000  37.700001  37.700001  2898971
2020-09-24  37.500000  38.000000  37.000000  37.000000  37.000000  4187374
2020-09-25  37.700001  37.700001  36.849998  37.200001  37.200001  2149467

[250 rows x 6 columns]