In [2]:
import plan_mgt as pm

In [7]:
pm.drop_plan_table()

In [8]:
pm.create_plan_table()

In [17]:
pm.show_plan()

In [5]:
pm.add_plan(1, 2, '0005.HK', 200000)

In [22]:
import sqlite3
import pandas as pd
def get_user_strategy(user_id):
    value = ''
    conn = sqlite3.connect('database.db')
    df = pd.read_sql_query("SELECT strategy_id FROM plan where plan.user_id=" + user_id, conn)
    if len(df)>0:
        value = df.head(1)['strategy_id'][0]
    conn.close()
    return value
get_user_strategy('1')

1

In [9]:
import sqlite3
import pandas as pd
def get_plan(id):
    conn = sqlite3.connect('database.db')
    df = pd.read_sql_query("SELECT * FROM plan where plan.user_id=" + str(id), conn)
    conn.close()
    return df

In [10]:
get_plan(1)

   id  user_id  strategy_id stock_code  capital
0   1        1            1    0002.HK   180000
1   2        1            1    0005.HK   180000

In [11]:
df = get_plan(1)
columns = [{"name": i, "id": i} for i in df.columns],
data = df.to_dict('records'),

In [12]:
columns

([{'name': 'id', 'id': 'id'},
  {'name': 'user_id', 'id': 'user_id'},
  {'name': 'strategy_id', 'id': 'strategy_id'},
  {'name': 'stock_code', 'id': 'stock_code'},
  {'name': 'capital', 'id': 'capital'}],)

In [13]:
data

([{'id': 1,
   'user_id': 1,
   'strategy_id': 2,
   'stock_code': '0002.HK',
   'capital': 180000},
  {'id': 2,
   'user_id': 1,
   'strategy_id': 2,
   'stock_code': '0005.HK',
   'capital': 180000}],)